// .eslintrc
{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "jest": "true"
  },
  "rules": {
    "max-len": [
      "error",
      {
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "code": 150
      }
    ],
    "no-underscore-dangle": "off",
    "prefer-promise-reject-errors": "off",
    "no-throw-literal": "off",
    "no-unused-expressions": "off",
    "react/destructuring-assignment": [
      true,
      "always",
      { "ignoreClassFields": true }
    ],
    "react/no-string-refs": "off",
    "no-nested-ternary": "off",
    "react/sort-comp": "off",
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "consistent-return": "off",
    "react/prefer-stateless-function": "off",
    "react/no-access-state-in-setstate": "off",
    "react/no-this-in-sfc": "off",
    "class-methods-use-this": "off",
    "react/no-array-index-key": "off",
    "no-plusplus": "off",
    "react/no-unused-state": "off",
    "no-use-before-define": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "comma-dangle": "off",
    "global-require": "off"
  },
  "globals": {
    "fetch": false,
    "FormData": true,
    "google": true,
    "navigator": true
  }
}
